---
layout: default
---
<div class="blog">
  {% for post in site.posts %}
    <article class="blog__post">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <div class="blog__date">
        <p>{{ post.date | date: date_format }}</p>
        <p>by {{ post.author }}</p>
      </div>
      <div class="blog__content">
        <a class="blog__link" href="{{ post.url | relative_url }}">
          <h2 class="blog__title">{{ post.title | escape }}</h2>
          <p class="blog__excerpt">{{ post.excerpt }}</p>
        </a>
      </div>
    </article>
  {% endfor %}
</div>
