---
layout: default
---
<header class="app__header container">
  <div class="app__logo-wrapper">
    <img class="app__logo" src="/assets/images/appicon.png" alt="{{ site.data.app.name }} Icon">
  </div>
  <div class="app__infos">
    <h1 class="app__name">{{ site.data.app.name }}</h1>
    <p class="app__description">{{ site.data.app.description }}</p>
    <div class="app__buttons app__buttons--desktop">
      {% if site.data.app.android != false %}
      <a href="{{ site.data.app.android }}" class="app__button-play" target="_blank"><img src="/assets/images/google-play-badge.png" alt="Get on Google Play"></a>
      {% endif %}
      {% if site.data.app.iOS != false %}
      <a href="{{ site.data.app.iOS }}" class="app__button-ios" target="_blank"><img src="/assets/images/ios.svg" alt="Get on Appstore"></a>
      {% endif %}
      {% if site.data.app.web != false %}
      <a href="{{ site.data.app.web }}" class="app__button-web" target="_blank"><img src="/assets/images/pwa-badge.png" alt="Go to website"></a>
      {% endif %}
    </div>
  </div>
</header>
<div class="app__buttons app__buttons--mobile container">
  {% if site.data.app.android != false %}
  <a href="{{ site.data.app.android }}" class="app__button-play" target="_blank"><img src="/assets/images/google-play-badge.png" alt="Get on Google Play"></a>
  {% endif %}
  {% if site.data.app.iOS != false %}
  <a href="{{ site.data.app.iOS }}" class="app__button-ios" target="_blank"><img src="/assets/images/ios.svg" alt="Get on Appstore"></a>
  {% endif %}
  {% if site.data.app.web != false %}
  <a href="{{ site.data.app.web }}" class="app__button-web" target="_blank"><img src="/assets/images/pwa-badge.png" alt="Go to website"></a>
  {% endif %}
</div>
<section class="app__screenshots app__section">
  <div class="container">
    <h2 class="app__section-title">{{ site.data.strings.app.screenshots }}</h2>
  </div>
  <div class="app__screenshots-wrapper container-desktop">
    <div class="app__screenshots-list">
      {% for screenshot in site.data.app.screenshots %}
      <a href="/assets/images/screenshots/{{ screenshot }}" class="lightbox">
       <img src="/assets/images/screenshots/{{ screenshot }}" class="app__screenshot">
      </a>
      {% endfor %}
    </div>
  </div>
</section>
<section class="app__fulldescription app__section container">
  <h2 class="app__section-title">{{ site.data.strings.app.description }}</h2>
  <div class="app__fulldescription-content">
    <p>{{ site.data.app.full_description }}</p>
  </div>
</section>
<section class="app__featured app__section container">
  <h2 class="app__section-title">{{ site.data.strings.app.featured }}</h2>
  <div class="app__featured-content">
    {% for company in site.data.app.companies %}
    <a href="{{ company.url }}" target="_blank" class="app__featured-company">
     <img src="/assets/images/companies/{{ company.image }}" class="app__featured-image">
    </a>
    {% endfor %}
  </div>
</section>
