---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post__container">
    <header class="post__header">
      <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post__meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
        {% if page.author %}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}</p>
    </header>

    <div class="post__content" itemprop="articleBody">
      {{ content }}
    </div>

    <div class="post__comments">
    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
    </div>
  </div>
</article>
